<article class="post">
    <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        {{!-- Uses the format_url function to update the post_url --}}
        <span>({{format_url post_url}})</span>
    </div>
    <div class="meta">
                        {{!-- notice the format (function, "string", number) this fits the helper functions items it takes in format_plural("point", vote_count) --}}
        {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on
        {{!-- uses the format_date function to formate the created_at date imagine format_date(created_at) --}}
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>